<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Складец — Складская система</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <h1>Складец</h1>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a> |
        <a href="{{ url_for('product_list') }}">Товары</a> |
        <a href="{{ url_for('add_product_view') }}">Добавить товар</a> |
        <a href="{{ url_for('suppliers_list_view') }}">Поставщики</a> |
        <a href="{{ url_for('operations_list_view') }}">Операции</a> |
        <a href="{{ url_for('deliveries_by_date_view') }}">Поставки по дате</a> |
        <a href="{{ url_for('stock_low_view') }}">Малый остаток</a> |
        <a href="{{ url_for('view_db') }}">(DB)</a>
    </nav>
    <hr>
</header>
<main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, msg in messages %}
          <li class="flash {{ category }}">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>
</body>
</html>
